:root {
  --app-font: Consolas, monaco, monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--app-font);
}

body {
  min-height: 100dvh;
  margin: 0;
  display: flex;
}

.main {
  display: flex;
  flex-grow: 1;
}